# -----------------------------------------------------------
# General

.DS_Store
*.iws

# -----------------------------------------------------------
# * languages
languages/*/classes_gen
languages/*/source_gen
languages/*/source_gen.caches

# -----------------------------------------------------------
# * solutions
solutions/*/classes_gen
solutions/*/source_gen
solutions/*/source_gen.caches

